* {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    gap: 2px;
}

ul li {
    font-family: sans-serif;
    background: rgba(123,198,199,0.8);
    flex: 1 2 0;
}